/* --- DEFAULTS --- */

* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #fff;
}
#bg_header {
  background: url("../images/bg_header2.png") repeat-x;
  width: 100%;
  height: 4px;
}
#bg_footer {
  background: url("../images/bg_footer2.png") repeat-x;
  width: 100%;
  height: 7px;
}

.rounded {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.cell {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px, rgba(0, 0, 0, 0.35) 0 2px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px, rgba(0, 0, 0, 0.35) 0 2px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px, rgba(0, 0, 0, 0.35) 0 2px 3px;
}

.fLeft {
  float: left;
}
.fRight {
  float: right;
}
.fClear {
  float: both;
}

::selection {
  background: #00bbcb;
  color: #f7f7f7;
}
::-moz-selection {
  background: #00bbcb;
  color: #f7f7f7;
}

a:link {
  color: #00757f;
  text-decoration: none;
}
a:visited {
  color: #005d65;
  text-decoration: none;
}
a:hover {
  color: #008c98;
  text-decoration: underline;
}
a:active {
  color: #00464c;
  text-decoration: underline;
}

.MB_link {
  color: #46bfd4 !important;
}

/* --- STYLES ----- */

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.header-wrapper {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER */
#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 120px;
  background: #ffffff url("../images/bg_linen-dark.png") 0 0 repeat;
  border-bottom: 1px solid #c7d5d6;
  z-index: 100;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head-logo {
  margin: auto;
  width: 70%;
  display: block;
}

.mb-logo {
  width: 75%;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

#header #asba {
  float: right;
  height: 40px;
  width: 40px;
  margin: 0 0 10px 10px;
}

#header #h_NAV {
  float: left;
  height: 90px;
  width: 321px;
  list-style-type: none;
  color: #555;
  padding-top: 6px;
}

#header #h_NAV li {
  display: inline-block;
  width: 79px;
  height: 23px;
  /* margin-top: 35px; */
  text-align: center;
  border-left: solid 1px #005d65;
  font: 14px "MuseoSans300", sans-serif;
}
#header #h_NAV #hn_contact {
  border-right: solid 1px #555;
}
#header #h_NAV li a {
  position: relative;
  top: 5px;
}

/* VERT NAV */
#vertNAV {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 220px;
  width: 47px;
  height: 284px;
  list-style-type: none;
}
#vertNAV li {
  position: relative;
  width: 47px;
  height: 47px;
  margin-bottom: 32px;
}

#vertNAV #li4 {
  margin: 0;
}

#vertNAV .disabled,
#vertNAV .active {
  position: absolute;
  top: 0;
  left: 0;
}

/* HOME */
#home {
  height: 700px;
  padding: 131px 0px 70px 0px;
}

#home #slider_base {
  height: 307px;
  width: 780px;
  padding: 10px;
  margin: 0px 80px 64px 80px;
  background: #fafafa;
}

#home #img_slider {
  height: 307px;
  width: 780px;
}
#home #info {
  height: 213px;
  width: 637px;
  margin-left: 10px;
}
#home #info p.textHead {
  font: 32px "MuseoSans300", sans-serif;
  color: #005d65;
  margin-bottom: 10px;
}
#home #info p.body {
  font: 16px/24px "Classic", serif;
  color: #262626;
  margin-top: 18px;
}

#home #infomap {
  height: 193px;
  width: 220px;
  padding: 10px;
  background: #fafafa;
}
#home #infomap a {
  color: #fafafa;
}

#home #infomap_caption {
  position: relative;
  top: 17px;
  font: 13px/18px "MuseoSans300", serif;
  color: #262626;
  text-align: center;
}

/* TIMELINE */
.timeline-container {
  display: flex;
}

@media screen and (min-width: 800px) {
  #timeline {
    width: 100%;
  }
}

#timeline {
  height: 146px;
  background: #efefef url("../images/timeline-bg.png") center 114px repeat-x;
  margin-bottom: 60px;
  padding-top: 40px;
}

#timeline #banner {
  height: 56px;
  width: 960px;
}
#timeline #banner p {
  font: 39px/44px "Classic", serif;
  margin: 0px 29px;
}

#timeline #bar {
  height: 70px;
  width: 960px;
  margin-top: 18px;
}

/* TEAM */

#team-top {
  height: 81px;
  background: url("../images/bg_wave-top.jpg") repeat-x;
}
#team-top p.textHead {
  top: 60px;
  font: 60px "MuseoSans300", sans-serif;
  text-align: center;
  color: #454545;
}

#team {
  height: 900px;
  background: url("../images/bg_wave-mid.jpg") 0px 0px repeat;
  padding: 80px 0px 40px 0px;
}

#team #emps {
  list-style-type: none;
}

#team #emps li {
  height: 170px;
  margin-bottom: 32px;
}

/* EMP PI */
#team #emps .empName {
  float: left;
  height: 172px;
  width: 332px;
  background: #fff;
}
#team #emps .empPI {
  height: 130px;
  width: 290px;
  margin: 10px;
  padding: 10px;
}

#team #emps .empPI .pi {
  position: relative;
  float: left;
  width: 160px;
  height: 123px;
  margin-top: 10px;
}

#team #emps .empPI .contact {
  position: absolute;
  width: 160px;
  bottom: 0;
  left: 0;
}

#team #emps .empPI p {
  font: 14px/20px "MuseoSans300", sans-serif;
}
#team #emps .empPI .contact p {
  font: 13px/10px "MuseoSans300", sans-serif;
  height: 14px;
}
#team #emps .empPI .contact a {
  font: 13px/10px "MuseoSans300", sans-serif;
}
#team #emps .empPI img {
  float: right;
  width: 118px;
  height: 130px;
}

/* EMP BIO */
#team #emps .empBio {
  float: right;
  height: 172px;
  width: 604px;
  background: #fff;
}

#team #emps p.bio {
  width: 570px;
  margin: 10px;
  padding: 6px 12px 0px 12px;
  font: 15px/20px "Classic", serif;
  color: #333333;
}

#team-bot {
  height: 81px;
  background: url("../images/bg_wave-bot.jpg") repeat-x;
  margin-bottom: 50px;
}

/* CLIENTS */
#clients {
  height: 1830px;
  padding: 0px 0px 50px 0px;
}

#clients p.sectionHead {
  font: 60px "MuseoSans300", sans-serif;
  text-align: center;
}

#clients #map {
  position: relative;
  width: 830px;
  height: 445px;
  margin: 35px 65px 35px 65px;
  background: url("../images/globe-830.png") 0 0 no-repeat;
}
#clients #map img.pin {
  height: 49px;
  width: 25px;
}
#clients #map img.china {
  position: absolute;
  top: 152px;
  left: 593px;
}
#clients #map img.dn {
  position: absolute;
  top: 111px;
  left: 397px;
}
#clients #map img.au {
  position: absolute;
  top: 334px;
  left: 675px;
}
#clients #map img.sg {
  position: absolute;
  top: 244px;
  left: 602px;
}
#clients #map img.jp {
  position: absolute;
  top: 153px;
  left: 664px;
}
#clients #map img.nz {
  position: absolute;
  top: 366px;
  left: 724px;
}
#clients #map img.vbc {
  position: absolute;
  top: 121px;
  left: 136px;
}
#clients #map img.hk {
  position: absolute;
  top: 131px;
  left: 643px;
}
#clients #map img.sea {
  position: absolute;
  top: 129px;
  left: 127px;
}
#clients #map img.sk {
  position: absolute;
  top: 157px;
  left: 639px;
}
#clients #map img.gm {
  position: absolute;
  top: 118px;
  left: 399px;
}

#clients #logos {
  width: 840px;
  height: 312px;
  margin: 0 65px 0 65px;
  list-style-type: none;
  text-align: center;
}

#clients #logos img {
  width: 150px;
  height: 94px;
  padding: 5px;
  background: #00757f;
  margin: 0px 10px 5px 0px;
}
#clients #logos img:last-child {
  margin: 0px 0px 5px 0px;
}
#clients #logos img.lastrow {
  margin-left: 140px;
}

/* FOOTER */
.footer-container {
  display: flex;
}

@media screen and (min-width: 800px) {
  #footer {
    width: 100%;
  }
}

#footer {
  height: 78px;
  background: #ffffff url("../images/bg_linen-dark.png") 0 0 repeat;
  border-top: 1px solid #c7d5d6;
  padding: 30px 0px 20px 0px;
}

#footer img {
  width: 370px;
  height: 55px;
  margin-left: 18px;
  margin-top: 25px;
}
#footer p {
  height: 78px;
  font: 16px/24px "Classic", serif;
}
#footer p#address {
  margin-top: 12px;
  margin-left: 69px;
  color: #202020;
}
#footer p#phone {
  margin-top: 12px;
  margin-right: 69px;
  color: #202020;
  text-align: right;
}

/* --- FONTS ------ */

@font-face {
  font-family: "Classic";
  src: url("../fonts/classicround-light-webfont.eot");
  src: url("../fonts/classicround-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/classicround-light-webfont.woff") format("woff"),
    url("../fonts/classicround-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans300";
  src: url("../fonts/museosans-300-webfont.eot");
  src: url("../fonts/museosans-300-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/museosans-300-webfont.woff") format("woff"),
    url("../fonts/museosans-300-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans500";
  src: url("../fonts/museosans-500-webfont.eot");
  src: url("../fonts/museosans-500-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/museosans-500-webfont.woff") format("woff"),
    url("../fonts/museosans-500-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
